<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<div class="container">
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to post.title, post %> - <i> published <%= time_ago_in_words(post.published) %> ago.</i>
      </div>
    </div>
  <% end %>
</div>
