<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="container">
  <h3><%= link_to @post.title, @post.url %></h3>
  <i>published on <%= @post.published %> by <%= @post.author %></i>
  <p>
    <%= @post.content.html_safe %>
  </p>
</div>